<!DOCTYPE html>
<html lang="en">
	<head>
		<title>6th atom</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="icon" href="/images/favicon.ico">

		<link rel="stylesheet" type="text/css" href="/game.css" />
		<script defer src="http://0.0.0.0:3000/socket.io/socket.io.js"></script>
		<script defer src="game.js"></script>
	</head>
	<body>
		<div id="backdrop"></div>
		<div id="results">
			<div id="perso-result"></div>
			<ul id="rankings"></ul>
			<div id="btn-container">
				<a href="./"><button id="menu-btn">Menu</button></a>
			</div>
		</div>
		<ul id="info"></ul>
		<div id="content">
			<ul id="playerlist"></ul>
			<table id="board">
				<tr>
					<td><p></p></td><td><p></p></td><td><p></p></td><td><p></p></td><td><p></p></td><td><p></p></td><td><button value=0>⬅️</button></td>
				</tr>
				<tr>
					<td><p></p></td><td><p></p></td><td><p></p></td><td><p></p></td><td><p></p></td><td><p></p></td><td><button value=1>⬅️</button></td>
				</tr>
				<tr>
					<td><p></p></td><td><p></p></td><td><p></p></td><td><p></p></td><td><p></p></td><td><p></p></td><td><button value=2>⬅️</button></td>
				</tr>
				<tr>
					<td><p></p></td><td><p></p></td><td><p></p></td><td><p></p></td><td><p></p></td><td><p></p></td><td><button value=3>⬅️</button></td>
				</tr>
			</table>
		</div>
		<div id="footer">
			<ul id="hand"></ul>
		</div>
	</body>
</html>