<!DOCTYPE html>
<html lang="en">
	<head>
		<title>6th atom</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="icon" href="/images/favicon.ico">

		<link rel="stylesheet" type="text/css" href="/menu.css" />
		<script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
	</head>
	<body>
		<div id="menu">
			<div id="title">
				How to play
			</div>
			<div id="content">
				<h2>TL;DR</h2>
				<ul>
					<li>Every round, everyone reveal one card from their hand</li>
					<li>Starting with the lowest value, everyone place their card on a pile</li>
					<li>A card should be placed on the pile ending with the closest lower value card</li>
					<li>If you place the 6th card in a pile, all the cards in the pile goes to you (except your own)</li>
					<li>If you cannot place a card, you take a full pile and start a new one with your card</li>
					<li>The winner is the one with the lowest amount of points</li>
				</ul>
				<h2>Rules</h2>
				<!--TODO : write rules-->
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus purus vel nulla viverra porttitor. Proin ultrices odio nibh, a placerat felis vestibulum ut. Praesent lacinia fringilla dictum. Cras elementum urna sit amet elit mattis maximus. Phasellus id diam nec risus sodales aliquet et nec orci. Nunc scelerisque tempor urna, at fringilla felis sollicitudin non. Donec imperdiet quam porta ultricies consequat.
				</p>
				<p>
					Etiam pulvinar dolor laoreet elit finibus suscipit. Aliquam ut mi non leo semper tempus. Curabitur efficitur et nisl convallis iaculis. Etiam fermentum nibh imperdiet libero feugiat, sed iaculis augue elementum. Nullam nec erat nec justo rutrum dictum sit amet nec eros. Nam pharetra mattis suscipit. Duis ante velit, efficitur in nunc vitae, gravida accumsan nibh. Cras facilisis sapien massa, et rhoncus urna placerat in. Mauris bibendum ligula libero, non feugiat augue tempor eget.
				</p>
				<p>
					Curabitur iaculis odio eget tellus tristique pharetra. Suspendisse facilisis magna eros, quis sagittis justo egestas vitae. Mauris hendrerit porta nunc, quis molestie nunc. Proin at metus purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ac lorem augue. Sed vel blandit mi, vel aliquet sem. Aliquam vel justo diam. Morbi eu orci at massa mattis gravida nec sed orci. Nunc sed mi a turpis faucibus porttitor. Curabitur sollicitudin facilisis eros at lacinia. Proin cursus neque id erat congue, eu blandit eros vestibulum.
				</p>
				<p>
					Integer massa dolor, rhoncus nec ornare vel, tempus non est. Praesent sapien risus, interdum elementum orci eget, consequat feugiat turpis. Proin tristique erat sed magna tempor gravida. Proin vulputate ipsum auctor interdum pulvinar. Morbi hendrerit blandit augue non posuere. Mauris commodo id lorem ut ultrices. Donec condimentum erat vitae dapibus pretium. Nam lorem sapien, luctus at finibus a, fringilla in neque. Pellentesque venenatis libero non nunc efficitur interdum. Nulla facilisi. Aenean sit amet erat ex. Etiam fringilla ac odio et interdum. In tempor vitae purus sed imperdiet. Nunc a ultrices tellus.
				</p>
				<p>
					Sed dictum, justo non pulvinar scelerisque, augue nunc posuere nisl, at facilisis nisi nisi nec est. Aenean nec elementum dolor. Maecenas porta diam orci, id mollis velit porttitor eget. Sed consequat gravida justo at aliquam. Sed lacinia, justo tincidunt maximus interdum, mauris nisi lacinia odio, ac efficitur felis magna eu nisi. Vivamus ac mauris id sapien posuere vehicula. Etiam tellus dui, rhoncus id enim at, sodales dictum nisl. Ut euismod egestas nisi. Vivamus finibus sollicitudin lorem, sagittis vestibulum neque sagittis sed. In eros leo, aliquam quis pretium non, posuere sed sapien.
				</p>
			</div>
			<a href="./"><button id="mainmenu" name="mainmenu">Go Back</button></a>
			<div id="credits">
				Made by <a href="https://github.com/ArthurBinello">Arthur Binello</a>
			</div>
			<div id="bug">
				<a title="Report a bug" href="mailto:arthur.binello@gmail.com?subject=[6th atom]" target="_blank" rel="noreferrer noopener" class="btn-small">🐞</a>
			</div>
		</div>
	</body>
</html>