<!DOCTYPE html>
<html lang="en">
	<head>
		<title>6th atom</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="icon" href="/images/favicon.ico">

		<link rel="stylesheet" type="text/css" href="/menu.css" />
		<script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
	</head>
	<body>
		<div id="menu">
			<div id="title">
				How to play
			</div>
			<div id="content">
				<h2>TL;DR</h2>
				<ul>
					<li>Every round, everyone reveal one card from their hand</li>
					<li>Starting with the lowest value, everyone place their card on a pile</li>
					<li>A card should be placed on the pile ending with the closest lower value card</li>
					<li>If you place the 6th card in a pile, all the cards in the pile goes to you (except your own)</li>
					<li>If you cannot place a card, you take a full pile and start a new one with your card</li>
					<li>The winner is the one with the lowest amount of points</li>
				</ul>
				<h2>Rules</h2>
				<p>
					The 6th atom is a simultaneous card game where the goal of the game is to have the least amount of points at the end of the game.
				</p>
				<p>
					Each player starts the game with 10 cards. Each card has 2 values: the value for placing purposes and the number of points it is worth. The value of the card goes from 1 to 104 with no duplicates. Cards that are multiple of 5 are worth 2 points, multiples of 10: 3 points, multiple of 11: 5 points, the card 55 is worth 7 points and every other card is worth 1 point.
				</p>
				<p>
					Each player is given 10 cards at random and 4 additional cards are drawn at random and placed in the middle of the board face up thus creating the 4 piles.
				</p>
				<p>
					For each turn, every player chooses a card from their hand and place it in front of them face down.
				</p>
				<p>
					Once every player has played a card, they are all revealed at the same time. Starting from the lowest valued card, the player must place it on the pile which has the closest value which is under the value of the placed card.
				</p>
				<p>
					If the card is the 6th on the pile, the player must take the 5 previous cards (starting a new pile with the card they just played) and place it next to them, therefore gaining the amount of points associated with the cards they just gained.
				</p>
				<p>
					If the card cannot be placed (is higher than any number on top of the pile), the player must choose a pile for which they take the associated card(s) (and gain the amount of point) to their side and replace the pile with their card.
				</p>
				<p>
					Once 10 turns have passed, every player should have played all of their cards and the winner is the player with the lowest amount of points.
				</p>
			</div>
			<a href="./"><button id="mainmenu" name="mainmenu">Go Back</button></a>
			<div id="credits">
				Made by <a href="https://github.com/ArthurBinello">Arthur Binello</a>
			</div>
			<div id="bug">
				<a title="Report a bug" href="mailto:arthur.binello@gmail.com?subject=[6th atom]" target="_blank" rel="noreferrer noopener" class="btn-small">🐞</a>
			</div>
		</div>
	</body>
</html>