<!DOCTYPE html>
<html lang="en">
	<head>
		<title>The 6th card</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<link rel="stylesheet" type="text/css" href="/style.css" />
		<script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
		<script defer src="lobby-client.js"></script>
	</head>
	<body id="body">
		<div id="menu">
			<div id="title">The 6th card</div>
			<div>Room code</div>
			<div id="roomcode"></div>
			<a href="/" id="leavelobby">← Leave room</a>
			<ul id="playerlist"></ul>
		</div>
	</body>
</html>