body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto',sans-serif;
	background-color: #1E1E1E;
	color: #ffffff;
	min-height: 100%;
	height: 100%;
}

#content {
	min-height: 100%;
}

#playerlist {
	background-color: #252525;
	margin: 0;
	padding: 0;
	width: 15vw;
	float: left;
	position: fixed;
	top: 0;
	bottom:0;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
}

#playerlist li {
	display: grid;
	grid-template-columns: 11vw 4vw;
	grid-template-rows: 3vw 1vw;
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
}

#playerlist div {
	margin: .25rem;
}

#playerlist .name {
	padding: .5rem;
	border: .25rem solid;
	border-radius: .5rem;
	border-color: inherit;
	grid-area: 1 / 1 / 2 / 2;
	max-height: 1rem;
}

#playerlist .points {
	grid-area: 2 / 1 / 3 / 2;
	margin-left: 1rem;
	position: relative;
	top: -1rem;
}

#playerlist .cardSelect {
	margin: .5rem;
	background-color: #999999;
	background-image : url("images/card.png");
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: .5rem;
	padding: 1.35rem;
	float: right;
	color: black;
	grid-area: 1 / 2 / 3 / 3;
}

#playerlist .infos {
	border-color: inherit;
	padding-left: 1rem;
}


#board {
	border-collapse:separate; 
	border-spacing: 1rem 3rem;
	position: relative;
	left: 10vw;
	margin-left: auto;
	margin-right: auto;
}

#board td {
	color: black;
	font-size: 2rem;
	border-radius: .5rem;
	padding: 2.5rem;
	text-align: center;
}

.placedCard {
	background-color: #999999;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 2.75rem;
}

#board button {
	margin: 0;
	font-size: xx-large;
	font-weight: 900;
	color: white;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	cursor: pointer;
}

#board button:hover {
	color: #999999;
}

#footer {
	background-color: #252525;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 10rem;
	position: fixed;
	bottom: 0;
	text-align: center;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
}

#hand {
	padding: 0;
	margin: 0;
	overflow-x: auto;
	white-space: nowrap;
}

#hand li {
	display: inline-block;
	color: black;
	font-size: 2rem;
	margin: .5rem;
	margin-top: 1rem;
	background-color: #999999;
	border-radius: .5rem;
	padding: 2.5rem;
	text-align: center;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	cursor: pointer;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 2.25rem;
}

.\31 pts { background-image : url("images/1pts.png") }
.\32 pts { background-image : url("images/2pts.png") }
.\33 pts { background-image : url("images/3pts.png") }
.\35 pts { background-image : url("images/5pts.png") }
.\37 pts { background-image : url("images/7pts.png") }

.selected {
	margin-top: .5rem;
	border: .2rem solid red;
}

#info {
	position: fixed;
	font-size: larger;
	top: .1rem;
	right: 2rem;
	z-index: 10;
	list-style-type: none;
}

#info li {
	margin-top: 1rem;
	border-style: solid;
	border-radius: .5rem;
	padding: 1rem;
}

.red { border-color: crimson; }
.blue { border-color: royalblue; }
.yellow { border-color: yellow; }
.green { border-color: forestgreen; }
.orange { border-color: darkorange; }
.purple { border-color: mediumpurple; }
.pink { border-color: hotpink; }
.brown { border-color: sienna; }
.aqua { border-color: cyan; }
.lime { border-color: chartreuse; }
.neutral { border-color: #333333; }